PORT=3000
NODE_ENV=production
TURN_URLS=turn:openrelay.metered.ca:80,turn:openrelay.metered.ca:443,turns:openrelay.metered.ca:443?transport=tcp
TURN_USERNAME=openrelayproject
TURN_CREDENTIAL=openrelayproject
# Para coturn con secret temporal (recomendado producción):
# TURN_SECRET=tu_secreto_super_seguro
# TURN_TTL=86400
CLIENT_URL=https://tu-dominio.com
